<div class="ministry-home">
    <h2>Ministry Home Page</h2>
    <div class="button-container">
        <button><a routerLink="/">LogOut</a></button>
      </div>

    <nav>
        <ul>
            <li><a routerLink="/student-application" class="button-link">View Student Application Form</a></li>
        </ul>
    </nav>

    <p>Ministry is a government department headed by a Minister and a Director. Ministry has declared various Scholarship schemes for Students. Ministry owns the responsibility of granting Scholarships. Ministry Login option is available for ministry admin (Director) to Login to the Portal. Information related to all the Scholarships is provided on the portal by Ministry. Ministry is provided with options like Fetch Application forms of Students. When admin clicks on Fetch forms of students then a list of all the application approved by State Nodal Officer is displayed. Ministry can now decide whether to Grant or Reject the scholarship. If Grant option is selected, then Scholarship amount is granted directly into the student’s bank account.</p>
</div>