<nav class="navbar">
  <div class="navbar-container">

   
    <a routerLink="/" class="navbar-brand"> <img src="assets/images/scholarships-logo.png" alt="Merit Scholarship"/>National Scholarship Portal</a>
    <ul class="navbar-menu">
      <li><a routerLink="/"><i class="bi bi-house"></i> Home</a></li>
      <li><a routerLink="/about-us"><i class="bi bi-info-circle"></i> About</a></li>
      <li><a routerLink="/contact-us"><i class="bi bi-envelope"></i> Contact</a></li>
      <li class="dropdown">
        <a href="#"><i class="bi bi-door-open"></i> Login</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/studentL">Student</a></li>
          <li><a routerLink="instituteL">Institute</a></li>
          <li><a routerLink="/nodal">Nodal Officer</a></li>
          <li><a routerLink="/ministry">Ministry</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <li class="dropdown">
          <a routerLink="#"><i class="bi bi-person-plus"></i> New Registration</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/studentR">Student</a></li>
          <li><a routerLink="/instituteR">Institute</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <p>© 2024 National Scholarship Portal. All rights reserved.</p>
    </div>
    <div class="footer-right">
      <ul class="footer-links">
        <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
        <li><a routerLink="#">Terms of Service</a></li>
        <li><a routerLink="/helps">Help</a></li>
      </ul>
    </div>
  </div>
</footer>
