
<section>
  <h2>Introduction</h2>
  <p>The National Scholarship Portal (NSP) requests you to provide personal information for specific purposes. Adequate security measures are taken to protect your personal information.</p>
</section>
<section>
  <h2>Collection of Personal Information</h2>
  <p>All personal information (e.g., Aadhaar, mobile number, date of birth) collected on the portal or mobile app is never shared with third parties. If sharing is required, it is done in an encrypted, masked, and secure form.</p>
</section>
<section>
  <h2>Security Measures</h2>
  <p>Personal information is stored in a secured system with proper encryption. Only authorized users have access to this information.</p>
</section>
<section>
    <a routerLink="/contact-us">Contact Us</a>
  <p>If you believe the principles in this privacy statement have not been followed, please notify the webmaster through the contact us page.</p>
</section>


